.centered {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.separator {
  width: 100%;
  height: 10px;
}

.border {
  border: 1px solid black;
  padding: 5px;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.row {
  display: flex;
  width: 100%;
  margin: 5px 0 5px 0;
}

.row > p {
  word-break: break-word;
}

.row > img {
  margin-right: 15px;
}


.c-shit-css {
  font-weight: bold;
}
